body {
  background-color: black;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}
#board {
  height: calc(8 * 80px);
  width: calc(8 * 80px);
  background-color: #222831;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  padding: 10px;
  flex-shrink: 0;
  @media only screen and (max-width: 730px) {
    height: calc(8 * 50px);
    width: calc(8 * 50px);
    margin-top: 10vh;
  }
}

.cell {
  background-color: #31363f;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.piece {
  height: 90%;
  width: 90%;
}

.Titan {
  background-image: url("../Assets/Titan.png");
  background-size: cover;
}
.Tank {
  background-image: url("../Assets/Tank.png");
  background-size: cover;
}
.Cannon {
  background-image: url("../Assets/Cannon.png");
  background-size: cover;
}

.Ricochet {
  background-image: url("../Assets/Ricochet.png");
  background-size: cover;
}
.SemiRicochet {
  background-image: url("../Assets/SemiRicochet.png");
  background-size: cover;
}

.player1 {
  border: red 1px solid;
}
.player2 {
  border: blue 1px solid;
}

.heading {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
#timer {
  color: beige;
  font-size: 24px;
  margin-top: 8px;
}
.turnCard {
  color: white;
}

.validDest {
  border: white solid 2px;
  transition: all 250ms;
  &:hover {
    background-color: paleturquoise;
  }
}

.btnimg {
  height: 40px;
  width: 40px;
}
.btn {
  background-color: wheat;
  transition: all 140ms;

  border-radius: 50%;
}

.left {
  &:hover {
    transform: rotateZ(-30deg);
    background-color: #222831;
  }
}
.right {
  &:hover {
    transform: rotateZ(30deg);
    background-color: #222831;
  }
}

#controlls {
  display: flex;
  gap: 10px;
}

.turn {
  transition: all 250ms;
  &:hover {
    background-color: rgba(64, 197, 255, 0.8);
  }
}

.bullet {
  background-image: url("../Assets/Bullet.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.bullet_top {
  transform: rotateZ(180deg);
}
.bullet_left {
  transform: rotateZ(-90deg);
}
.bullet_right {
  transform: rotateZ(90deg);
}

.restart {
  margin-top: 10px;
  background-color: beige;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  transition: all 250ms;
  &:hover {
    background: transparent;
    color: white;
    border: beige solid 1px;
  }
}

#pause {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: url("../Assets/Pause.png");
  background-size: cover;
  border: 1px solid beige;
  margin-top: 8px;
  transition: all 250ms;
  &:hover {
    transform: scale(1.1);
    border-color: grey;
  }
}

.timer_container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
