body {
  background-color: black;
  font-family: "Goldman", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  background-image: url("../Assets/Background.png");
  backdrop-filter: saturate(180%) blur(8px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#board {
  height: calc(8 * 75px);
  width: calc(8 * 75px);
  background-color: rgb(66, 245, 245, 0.15);
  backdrop-filter: saturate(180%) blur(10px);
  border: solid skyblue 2px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  padding: 10px;
  flex-shrink: 0;
  @media only screen and (max-width: 730px) {
    height: calc(8 * 40px);
    width: calc(8 * 40px);
  }
  flex-grow: 0;
}

.gameBox {
  display: flex;
  padding: 10px;
  gap: 10px;
  height: 75%;
  width: 100%;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 730px) {
    flex-direction: column;
    align-items: center;
    height: 75%;
  }
}

.history {
  display: flex;
  height: 95%;
  width: 30%;
  background: transparent;
  flex-grow: 0;
  border-radius: 20px;
  border: skyblue solid 2px;
  backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 730px) {
    width: 80%;
  }
  overflow: scroll;
}

.msg {
  height: 60px;
  width: 90%;
  border-radius: 10px;
  background: transparent;
  backdrop-filter: filter(8px);
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid beige;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 1%;
}

.cell {
  background: transparent;
  border: 2px cyan solid;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.piece {
  height: 90%;
  width: 90%;
}

.Titan {
  background-image: url("../Assets/Titan.png");
  background-size: cover;
}
.Tank {
  background-image: url("../Assets/Tank.png");
  background-size: cover;
}
.Cannon {
  background-image: url("../Assets/Cannon.png");
  background-size: cover;
}

.Ricochet {
  background-image: url("../Assets/Ricochet.png");
  background-size: cover;
}
.SemiRicochet {
  background-image: url("../Assets/SemiRicochet.png");
  background-size: cover;
}

.player1 {
  border: red 2px solid;
}
.player2 {
  border: blue 2px solid;
}

.heading {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  @media only screen and (max-width: 730px) {
    flex-direction: column;
    gap: 0px;
  }
}
#timer {
  color: beige;
  font-size: 24px;
  margin-top: 8px;
}
.turnCard {
  color: orange;
}

.validDest {
  border: orange solid 2px;
  transition: all 250ms;
  &:hover {
    background-color: paleturquoise;
  }
}

.btnimg {
  height: 40px;
  width: 40px;
}
.btnimg_ {
  height: 35px;
  width: 35px;
}
.btn {
  background-color: wheat;
  transition: all 140ms;

  border-radius: 50%;
  transition: all 250ms;
  &:hover {
    transform: scale(1.1);
  }
}

.left {
  &:hover {
    transform: rotateZ(-30deg);
    background-color: #222831;
  }
}
.right {
  &:hover {
    transform: rotateZ(30deg);
    background-color: #222831;
  }
}

#controlls {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.turn {
  transition: all 250ms;
  &:hover {
    background-color: rgb(255, 234, 227, 0.4);
  }
}

.bullet {
  background-image: url("../Assets/Bullet.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.bullet_top {
  transform: rotateZ(180deg);
}
.bullet_left {
  transform: rotateZ(-90deg);
}
.bullet_right {
  transform: rotateZ(90deg);
}

.restart {
  margin-top: 10px;
  background-color: beige;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  transition: all 250ms;
  &:hover {
    background: transparent;
    color: white;
    border: beige solid 1px;
  }
}

.timer_container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.btnCard {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#pause {
  height: 30px;
  width: 30px;
  background-image: url("../Assets/Pause.png");
  background-size: cover;
  margin-top: 8px;
  transition: all 250ms;
  &:hover {
    transform: scale(1.15);
    border-color: grey;
  }
}

#restart {
  height: 30px;
  width: 30px;
  background-image: url("../Assets/restart.png");
  background-size: cover;
  margin-top: 8px;
  transition: all 250ms;
  &:hover {
    transform: scale(1.15);
    border-color: grey;
  }
}

#undo {
  height: 30px;
  width: 30px;
  background-image: url("../Assets/undo.png");
  background-size: cover;
  margin-top: 8px;
  transition: all 250ms;
  &:hover {
    transform: scale(1.15);
    border-color: grey;
  }
}

#redo {
  height: 30px;
  width: 30px;
  background-image: url("../Assets/redo.png");
  background-size: cover;
  margin-top: 8px;
  transition: all 250ms;
  &:hover {
    transform: scale(1.15);
    border-color: grey;
  }
}

.spells {
  display: flex;
  height: 95%;
  width: 10%;
  background: transparent;
  flex-grow: 0;
  border-radius: 20px;
  border: skyblue solid 2px;
  backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 730px) {
    width: 80%;
  }
  overflow: scroll;
}

.spell {
  height: 70px;
  width: 70px;
  margin-top: 10px;
  border-radius: 50%;
  border: beige solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms;
  font-size: 12px;
  transition: all 250ms;
  &:hover {
    background-color: skyblue;
  }
}

.goThru {
  background-image: url("../Assets/Red.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.spellText {
  overflow: scroll;
  opacity: 0%;
  transition: 250ms all;
  cursor: pointer;
  &:hover {
    opacity: 50%;
  }
}
