body {
  background-color: black;
  font-family: "Goldman", sans-serif;
  font-size: 20px;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  background-image: url("../Assets/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  height: 50vh;
  width: 40%;
  backdrop-filter: saturate(180%) blur(8px);
  border-radius: 20px;
  @media only screen and (max-width: 730px) {
    width: 80%;
  }
}

input {
  outline: none;
  border: 2px solid black;
  width: 10%;
  height: 30px;
  background: transparent;
  border-radius: 5px;
  padding: 2px;
  color: beige;
}

.formField {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button {
  justify-self: center;
  align-self: center;
  height: 40px;
  width: 80px;
  background-color: beige;
  outline: none;
  border: 2px solid beige;
  border-radius: 20px;
  transition: 250ms all;
  &:hover {
    background: transparent;
    border: beige 2px solid;
    color: beige;
  }
}
